<h1><%= @bands.first.name %></h1>
<ul>
<li>
<%= link_to 'Shows', '#', class: "navtext" %>  
</li>
<li>
<%= link_to 'Crew', '#', class: "navtext" %>
</li>
</ul>
<%= image_tag 'SmokeyJones.jpg', size: "500", class: "center" %>
<style>
h3 {text-align: center}
body {background-color: black}
</style>
<h2><%= @bands.first.description  + ' ' + @bands.first.city %></h2>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

