<head>
<h1><%= @bands.first.name %></h1>
</head>
<ul class="nav">
  <li><%= link_to 'Shows', shows_path, class: "navtext" %></li>
  <li><%= link_to 'Media', '#', class: "navtext" %></li>
  <li><%= link_to 'Songlist', '#', class: "navtext" %></li>
  <li><%= link_to 'Booking', '#', class: "navtext" %></li>
  <li><<%= link_to 'Honky Tonk Legends', '#', class: "navtext" %></li>
</ul>

<%= image_tag 'SmokeyJones.jpg', size: "500", class: "center" %>
<style>
h3 {text-align: center}
</style>
<h2><%= @bands.first.description  + ' ' + @bands.first.city %></h2>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

