<%= form_with(model: show, local: true) do |form| %>
  <% if show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
      <% show.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <div>
    
  <% end %>
  <div>
   <%= form.label :show_date, class: "navtext" %>
   <%= form.datetime_field :show_date %>
  </div>
  <div>
  <%= form.label :venue, class: "navtext"%>
  <%= form.text_field :venue %>
  </div>
  <div>
  <%= form.label :city, class: "navtext" %>
  <%= form.text_field :city %>
  </div>
  <div>
  <%= form.label :state, class: "navtext"%>
  <%= form.text_field :state %>
  </div>
  <div>
  <%= form.label :age_limit, class: "navtext"%>
  <%= form.text_field :age_limit %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
